@use "@/styles/_variables" as *;

.container {
  box-sizing: border-box;
  width: max(100vw, calc(1200px + $sidebar-width));
  height: calc(100vh - $topbar-height);
  display: flex;
}

.sidebar {
  transition: width 0.3s ease, padding 0.3s ease;

  @media (max-width: 1439px) {
    width: 0;
    padding-left: 0;
    padding-right: 0;
  }
}