@use "@/styles/_variables" as *;

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background: $placeholder-color-bg-1;
  padding: $padding-y $padding-x;
  color: $placeholder-color-trim-1;
  border: 1px solid $placeholder-color-trim-1;
}