@use "@/styles/_variables" as *;

.topbar {
  width: 100%;
  height: $topbar-height;
  background: $placeholder-color-bg-3;
  display: flex;
  align-items: center;
  padding: $padding-y $padding-x;
  color: $placeholder-color-trim-1;
  border: 1px solid $placeholder-color-trim-1;
}