@use "@/styles/_variables" as *;

$placeholder-color: #fee08b;
$placeholder-text-color: black;

.content {
  box-sizing: border-box;
  flex: 1;
  padding: $padding-y $padding-x;
  background: $placeholder-color;
  color: $placeholder-text-color;
}