@use "@/styles/_variables" as *;

.content {
  flex: 1;
  padding: $padding-y $padding-x;
  background: $placeholder-color-bg-2;
  color: $placeholder-color-trim-1;
  border: 1px solid $placeholder-color-trim-1;
}